---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<span class="font-myfont"> Hola mundo </span>
	<div class=" text-red-500"></div>
	<div class="h-[12000px]">
		Texto lago con scroll
	</div>
</Layout>